<div class="block notice <%= model_name.underscore.gsub(/\//, '_') %>">
  <h3><%%= t_klass %></h3>
  <div class="content">
    <%%-
      klass_descr = t_klass_desc
      if klass_descr != nil && klass_descr.length > 0
    -%>
      <p><%%= klass_descr %></p>
    <%%-
      end
    -%>
    <p><%%= model_klass.column_names.reject{|n| n =~ /^(created_|updated_|replaced)/}.collect{|n| t_attr(n) }.join(", ") %></p>
  </div>
</div>
